__pycache__/
*.py[cod]
.coverage
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.idea/
.vscode/

# buold docs
build/
dist/
htmlcov/
docs/_build/
*.egg-info/

# personal docs
*plans/
*prs/
*changes/
*roadmap
*roadmap-eg/
*codex/
*colours/
*pr-docs/

